body {
    background-color: white;
    font-family: "Gill Sans", sans-serif;
    margin: 0 auto;
}

main {
    background-color: rgb(88, 88, 88);
    border: 1px solid gray;
    margin: 0 auto;
}

div.row {
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    background-color: #228B22;
}

.container {
    /*  border: 1px solid grey; */
    background-color: #228B22;
}

.milieu {
    margin: 0 auto;
    /*   border: 1px solid grey; */
    background-color: rgb(88, 88, 88);
}

.haut {
    margin: 0 auto;
    background-color: white;
}

.logo {
    background-image: url(img/sddl.jpg);
    background-size: cover;
    background-color: #3CB371;
    height: 80px;
    color: white;
    text-align: center;
    padding-left: 20px;
    /*  border: 1px solid rgb(35, 7, 112); */
}

.menu1 {
    margin-top: 15px;
    width: 75%;
    background-color: #32CD32;
    height: 50px;
    text-align: center;
    /*  border: 1px solid rgb(35, 7, 112); */
}

.menu1 a,
.menu2 a {
    color: white;
}

.menu2 {
    margin-top: 15px;
    width: 75%;
    background-color: #9ACD32;
    height: 50px;
    text-align: center;
    /*   border: 1px solid rgb(35, 7, 112); */
}

.fond {
    background-color: rgb(219, 221, 222);
    width: 280px;
    height: 500px;
}

.ft1 {
    background-color: #32CD32;
    height: 80px;
    text-align: center;
    color: rgb(240, 240, 240);
    /*   border: 1px solid rgb(35, 7, 112); */
}

.ft2 {
    background-color: #9ACD32;
    height: 80px;
    text-align: center;
    color: rgb(240, 240, 240);
    /*  border: 1px solid rgb(35, 7, 112); */
}

.coa {
    background-image: url(img/1.jpg);
    background-size: cover;
    margin: 0 auto;
    height: 90px;
    text-align: center;
    color: rgb(255, 254, 254);
    /*   border: 1px solid rgb(35, 7, 112); */
    background-color: rgb(190, 183, 183);
}

.cob {
    /* background-image: url(img/2.jpg); */
    /* background-size: contain; */
    margin: 0 auto;
    width: 100%;
    height: 90px;
    text-align: center;
    color: rgb(255, 254, 254);
    border: 1px solid rgb(35, 7, 112);
    /* background-color: rgb(190, 183, 183); */
}

.coc {
    background-image: url(img/3.jpg);
    background-size: cover;
    margin: 0 auto;
    height: 90px;
    text-align: center;
    color: rgb(255, 254, 254);
    /*   border: 1px solid rgb(35, 7, 112); */
    background-color: rgb(190, 183, 183);
}

.cod {
    background-image: url(img/4.jpg);
    background-size: cover;
    margin: 0 auto;
    height: 90px;
    text-align: center;
    color: rgb(255, 254, 254);
    /*   border: 1px solid rgb(35, 7, 112); */
    background-color: rgb(190, 183, 183);
}

.back {
    background-color: rgb(198, 196, 196);
    width: 50px;
}

h3 {
    color: grey;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 100px;
    font-size: 1rem;
}

h5 {
    margin-top: 35px;
}

.vert {
    width: 50%;
    height: 80px;
}

span,
a {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

iframe {
    width: 94%;
    margin-left: 3%;
}

#monImage {
    border: 1px solid rgb(55, 52, 52);
    /* box-shadow: 8px 12px 2px 1px rgba(87, 84, 76, 0.2); */
    width: 100%;
    height: 100%;
}


/*  ************************************************ ********************** TP2 ******************* ************************************************ Créez un fichier tp2.html faisant appel à un fichier tp2.css. Voici les détails à prendre en compte pour certains des éléments de l'exercice:
 PAGE: fond rgb(100, 100, 100) - texte blanc - police à bâton 
 HEADER: fond: #228B22 CONTENEUR dans le HEADER, dans le contenu et le 
 dans le FOOTER: autocentré - largeur: 80% de son parent LOGO: largeur: 25% - hauteur: 120px - couleur: #3CB371
 MENU: largeur: 75% - couleurs: #32CD32 et #9ACD32 BLOCS A, B, C et D: fond: rgb(200, 200, 200) - largeur: 46% - hauteur 100px - marges exterieures: 2% CONTENU: Carte GoogleMap intégrée: Se rendre sur le site https: //www.google.fr/maps, y selectionner une adresse de votre choix.
 Cliquez sur le bouton "partager" du panneau latéral puis le bouton "intégrer une carte".
 Copiez puis collez la balise <iframe>proposée à l'emplacement souhaité dans votre code après avoir entré les paramètres de votre choix.
 Vous pouvez parametrer la taille ce cet iframe via CSS ou dans l'attribut HTML width="".
 FOOTER: hauteur: 80px - couleurs: #32CD32 et #9ACD32 */